:root {
    --aa-search-input-height: 44px;
    --aa-input-icon-size: 20px;
    --aa-base-unit: 16;
    --aa-spacing-factor: 1;
    --aa-spacing: calc(var(--aa-base-unit)*var(--aa-spacing-factor)*1px);
    --aa-spacing-half: calc(var(--aa-spacing)/2);
    --aa-panel-max-height: 650px;
    --aa-base-z-index: 9999;
    --aa-font-size: calc(var(--aa-base-unit)*1px);
    --aa-font-family: inherit;
    --aa-font-weight-medium: 500;
    --aa-font-weight-semibold: 600;
    --aa-font-weight-bold: 700;
    --aa-icon-size: 20px;
    --aa-icon-stroke-width: 1.6;
    --aa-icon-color-rgb: 119, 119, 163;
    --aa-icon-color-alpha: 1;
    --aa-action-icon-size: 20px;
    --aa-text-color-rgb: 38, 38, 39;
    --aa-text-color-alpha: 1;
    --aa-primary-color-rgb: 62, 52, 211;
    --aa-primary-color-alpha: 0.2;
    --aa-muted-color-rgb: 128, 126, 163;
    --aa-muted-color-alpha: 0.6;
    --aa-panel-border-color-rgb: 128, 126, 163;
    --aa-panel-border-color-alpha: 0.3;
    --aa-input-border-color-rgb: 128, 126, 163;
    --aa-input-border-color-alpha: 0.8;
    --aa-background-color-rgb: 255, 255, 255;
    --aa-background-color-alpha: 1;
    --aa-input-background-color-rgb: 255, 255, 255;
    --aa-input-background-color-alpha: 1;
    --aa-selected-color-rgb: 179, 173, 214;
    --aa-selected-color-alpha: 0.205;
    --aa-description-highlight-background-color-rgb: 245, 223, 77;
    --aa-description-highlight-background-color-alpha: 0.5;
    --aa-detached-media-query: (max-width: 680px);
    --aa-detached-modal-media-query: (min-width: 680px);
    --aa-detached-modal-max-width: 680px;
    --aa-detached-modal-max-height: 500px;
    --aa-overlay-color-rgb: 115, 114, 129;
    --aa-overlay-color-alpha: 0.4;
    --aa-panel-shadow: 0 0 0 1px rgba(35, 38, 59, 0.1), 0 6px 16px -4px rgba(35, 38, 59, 0.15);
    --aa-scrollbar-width: 13px;
    --aa-scrollbar-track-background-color-rgb: 234, 234, 234;
    --aa-scrollbar-track-background-color-alpha: 1;
    --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb);
    --aa-scrollbar-thumb-background-color-alpha: 1;
}

#autocomplete {
    width: 380px;
}

.aa-Panel {
    z-index: 9999;
    position: fixed;
}

.aa-Form:focus-within {
    border-color: var(--maincolor);
    border-color: var(--maincolor);
    outline: none;
}

.aa-Form {
    height: 38px;
    border: 1px solid #f5f5f6;
    background: #f5f5f6;
    border-radius: 60px;
}

.aa-Form:focus-within {
    border-color: var(--maincolor);
    background: #ffffff;
    outline: none;
    box-shadow: unset;
}

.aa-SubmitButton {
    line-height: 3;
    height: 40px;
}

.aa-Label svg,
.aa-LoadingIndicator svg {
    color: var(--maincolor);
}

.aa-SourceHeaderTitle {
    color: var(--maincolor);
}

.mark,
mark {
    padding: 0;
    background-color: #fcf8e3;
}


#autocomplete-0-products-list {
    display: flex;
    flex-wrap: wrap;
}

#autocomplete-0-products-list .aa-Item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    width: 100%;
}

#autocomplete-0-products-list .aa-ItemIcon--picture {
    height: 100%;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#autocomplete-0-products-list .aa-ItemContent {
    grid-auto-flow: row;
    line-height: unset;
}

#autocomplete-0-products-list .aa-ItemContent {
    grid-auto-flow: row;
}

#autocomplete-0-products-list .aa-ItemIcon {
    text-align: start;
    align-items: start;
}

#autocomplete-0-products-list .aa-ItemContentDescription {
    font-size: 1em;
}

#autocomplete-0-products-list .aa-ItemIcon--picture img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    padding: 0;
}

#autocomplete-0-products-list .aa-ItemContentBody {
    padding: 4px;
    height: 100px;
}

#autocomplete-0-products-list .aa-ItemIcon svg {
    height: 16px;
    width: 16px;
}